{% extends "employees/main.html"%}
{% block title %}EMS-Home {% endblock %}
{% block content%}

<div class="card m-6">
	<div class="m-3">
		<h1>Employee Management System</h1>
	</div>
    <div class="card-body">
        <p><b>Click button to add employee details</b> </p><a href="{% url 'add_employee'%}"><button type="button" class="btn btn-primary">Add</button></a><br>
    </div>
    <div class="card-body">
        <p><b>Click button to view employees</b> </p><a href="{% url 'view_employee'%}"><button type="button" class="btn btn-primary">View</button></a><br>
    </div>
  </div>
{% endblock%}
